/* ---------------------------------------- */
        /* GENERAL DOCUMENT STYLING */
/* ---------------------------------------- */

body {
	background: rgb(255,255,255);
	color: rgb(255,255,255);
	font-family: 'Rajdhani', Monaco, monospace;
	font-size: 62.5%;
	margin: 0 auto;
	min-width: 20em;
	max-width: 140em;
}

* {
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-moz-selection {
	background: rgb(113,158,217);
	color: rgb(255,255,255);
}

::selection  {
	background: rgb(113,158,217);
	color: rgb(255,255,255);
}

a:link, a:visited {
	text-decoration: none;
}

:focus {
	outline: 0;
}

/* ---------------------------------------- */
          /* DOCUMENT HEADER STYLING */
/* ---------------------------------------- */

body > header {
	background: url(../images/theme.jpg) rgb(255, 255, 255) no-repeat center center scroll;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	-webkit-background-size: cover;
	background-size: cover;
	width: 100%;
	z-index: 9;
}

.b-main-menu {
	background: rgb(255,255,255); /* fallback */
	background: rgba(255,255,255,.4);
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	font-size: 2em;
	height: 2em;
	padding: .4em;
	position: fixed;
	-moz-transition: all .8s ease-in;
	-ms-transition: all .8s ease-in;
	-o-transition: all .8s ease-in;
	-webkit-transition: all .8s ease-in;
	transition: all .8s ease-in;
	width: 100%;
}

.b-main-menu--opaque {
	background: rgba(255,255,255,.9);
	color: rgb(113,158,217);
	border-bottom: solid 2px rgb(113,158,217);
	-moz-transition: all .8s ease-in;
	-ms-transition: all .8s ease-in;
	-o-transition: all .8s ease-in;
	-webkit-transition: all .8s ease-in;
	transition: all .8s ease-in;
}

.b-main-menu__email {
	font-size: .8em;
	float: right;
	padding-top: 2px;
}

.b-main-menu__email--logo {
	background: rgb(255,255,255); /* fallback */
	background: rgba(255,255,255,.5);
	-moz-border-radius: 1em;
	-ms-border-radius: 1em;
	-o-border-radius: 1em;
	-webkit-border-radius: 1em;
	border-radius: 1em;
	display: inline-block;
	text-align: center;
	width: 1.4em;
	vertical-align: middle;
}

/* ---------------------------------------- */
          /* MAIN CONTENT STYLING */
/* ---------------------------------------- */

.b-logo {
	font-size: 2.8em;
	height: 4.47em;
	margin: 0 auto;
	overflow: hidden;
	text-align: center;
	width: 12.15em;
}

.b-logo--standalone {
	position:relative;
	top: 2em;
}

.b-logo__first-row {
	font-size: 1.2em;
	font-weight: normal;
	letter-spacing: .2em;
	text-transform: uppercase;
}

.b-logo__second-row {
	margin: -1em;
}

.b-button {
	border: solid 1px rgb(255,255,255);
	color: rgb(255,255,255);
	cursor: pointer;
	display: inline-block;
	font-size: 1.5em;
	padding: .6em 0;
	text-align: center;
	text-decoration: none;
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	-webkit-transition: background .2s;
	transition: background .2s;
	width: 10em;
}

.b-button:hover { 
	background: rgb(255,255,255); /* fallback */
	background: rgba(255,255,255,.8);
	color: rgb(113,158,217);
	-moz-transition: background .2s;
	-ms-transition: background .2s;
	-o-transition: background .2s;
	-webkit-transition: background .2s;
	transition: background .2s;
}

.b-button--intro {
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 0 0 3px rgba(255,255,255,.8);
	-ms-box-shadow: 0 0 3px rgba(255,255,255,.8);
	-o-box-shadow: 0 0 3px rgba(255,255,255,.8);
	-webkit-box-shadow: 0 0 3px rgba(255,255,255,.8);
	box-shadow: 0 0 3px rgba(255,255,255,.8);
	bottom: 4em;
	left: 45%; /* fallback */
	left: calc(50% - 5em);
	position: absolute;
}

.b-itemContainer {
	background: rgb(113,158,217); /* fallback */
	background: rgba(113,158,217,.2);
	color: rgb(113,158,217);
	float: left;
	height: 16em;
	padding: .5em;
	border: inset 1px rgb(113,158,217); /* fallback */
	border: inset 1px rgba(113,158,217,.3);
	overflow: hidden;
	-moz-transition: all .6s ease-out;
	-ms-transition: all .6s ease-out;
	-o-transition: all .6s ease-out;
	-webkit-transition: all .6s ease-out;
	transition: all .6s ease-out;
	width: 33.33%;
}

.b-itemContainer:hover {
	background: rgb(113,158,217);
	color: rgb(255,255,255);
	-moz-transition: all .1s ease-out;
	-ms-transition: all .1s ease-out;
	-o-transition: all .1s ease-out;
	-webkit-transition: all .1s ease-out;
	transition: all .1s ease-out;
}

.b-itemContainer__header {
	font-size: 2em;
	font-weight: normal;
	height: 1.2em;
	margin: .5em;
	letter-spacing: .2em;
	overflow: hidden;
	text-align: center;
	text-transform: uppercase;
}

.b-itemContainer__desc {
	font-size: 1.5em;
	height: 2.5em;
	margin: 0;
	overflow: hidden;
	padding: 0 1em;
}

.b-itemContainer__keywords {
	font-size: 1.2em;
	height: 1.4em;
	margin: 1em 1.2em .8em;
}

.b-itemContainer__type {
	border-top: dashed 1px rgb(113,158,217);
	bottom: 1em;
	font-size: 1.25em;
	float: right;
	letter-spacing: .2em;
	height: 3em;
	margin: 1.3em auto;
	overflow: hidden;
	padding: .4em;
	position: relative;
	text-align: right;
}

.b-itemContainer__details-wrapper {
	height: 2em;
	margin: 0 auto;
	width: 12em;
}

.b-itemContainer__details {
	background: rgb(113,158,217); /* fallback */
	background: rgba(113,158,217,.3);
	border: solid 1px rgb(113,158,217); /* fallback */
	border: solid 1px rgba(113,158,217,.3);
	color: rgb(255,255,255);
	float: left;
	font-size: 1.2em;
	height: 1.7em;
	margin: 0 .1em;
	padding-top: 2px;
	text-align: center;
	text-decoration: none;
	width: 4.5em;
}

.b-itemContainer__details:hover {
	background: rgb(255,255,255);
	color: rgb(113,158,217);
	-moz-transition: all .4s;
	-ms-transition: all .4s;
	-o-transition: all .4s;
	-webkit-transition: all .4s;
	transition: all .4s;
}

.b-itemContainer__details--firstElement {
	-moz-border-radius: .4em 0 0 .4em;
	-ms-border-radius: .4em 0 0 .4em;
	-o-border-radius: .4em 0 0 .4em;
	-webkit-border-radius: .4em 0 0 .4em;
	border-radius: .4em 0 0 .4em;
}

.b-itemContainer__details--lastElement {
	-moz-border-radius: 0 .4em .4em 0;
	-ms-border-radius: 0 .4em .4em 0;
	-o-border-radius: 0 .4em .4em 0;
	-webkit-border-radius: 0 .4em .4em 0;
	border-radius: 0 .4em .4em 0;
}

.b-itemContainer__details--onlyElement {
	-moz-border-radius: .4em;
	-ms-border-radius: .4em;
	-o-border-radius: .4em;
	-webkit-border-radius: .4em;
	border-radius: .4em;
	margin: 0 2.3em;
	width: 4em;
}

.b-itemContainer__details--highlighted {
	border: solid 1px rgb(255, 255, 255);
}

/* ---------------------------------------- */
                 /* RWD */
/* ---------------------------------------- */

@media only screen and (min-width: 601px) and (max-width: 890px) {

	.b-itemContainer {
		width: 50%;
	}
} 

@media only screen and (max-width: 600px) {

	.b-itemContainer {
		width: 100%;
	}
} 

@media only screen and (min-width: 311px) and (max-width: 415px) {

	.b-main-menu {
		font-size: 1.5em;
	}

	.b-logo {
		font-size: 2.2em;
	}
} 

@media only screen and (max-width: 310px) {

	.b-main-menu__header {
		display: none;
	}

	.b-logo {
		font-size: 1.6em;
		padding-top: 1em;
	}
} 